name: generate_products

on:
  push:
    branches: [ main ]
    paths:
      - '.github/workflows/generate_products.yml'
      - '.github/actions/wsusoffline/**'
  schedule:
    - cron: '34 14 */3 * 2'
  workflow_dispatch:
    inputs:
      build_latest:
        description: 'Build Latest-Packages?'
        required: true
        options: [ 'yes', 'no' ]
        type: choice
        default: 'yes'
      build_esr:
        description: 'Build ESR-Packages?'
        required: true
        options: [ 'yes', 'no' ]
        type: choice
        default: 'yes'

permissions:
  contents: write

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false

env:
  COMPARE_FILE0: /tmp/.wsusoffline-iso-sha256-0.txt
  COMPARE_FILE1: /tmp/.wsusoffline-iso-sha256-1.txt
    
jobs:
  build_latest:
    container:
      image: debian:trixie-slim
    strategy:
      fail-fast: false
      matrix:
        include:
          - target:   w62-x64
            cachekey: w62-64
          - target:   w63
            cachekey: w63-86
          - target:   w63-x64
            cachekey: w63-64
          - target:   w100
            cachekey: w10-86
          - target:   w100-x64
            cachekey: w10-64
          - target:   o2k13
            cachekey: o13
          - target:   o2k16
            cachekey: o16
    runs-on: ubuntu-latest
    env:           
      GIT_BRANCH: latest
    if: ${{ github.repository == 'lizenzfass78851/wsusofflineupdatepacks' && github.event.inputs.build_latest != 'no' }}

    steps:

      - name: Generate wsusofflineupdatepacks
        uses: LizenzFass78851/wsusofflineupdatepacks/.github/actions/wsusoffline@main
        with:
          target: ${{ matrix.target }}
          cachekey: ${{ matrix.cachekey }}
          git_branch: ${{ env.GIT_BRANCH }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          compare_file0: ${{ env.COMPARE_FILE0 }}
          compare_file1: ${{ env.COMPARE_FILE1 }}
          repository: ${{ github.repository }}

  build_esr:
    container:
      image: debian:trixie-slim
    strategy:
      fail-fast: false
      matrix:
        include:
          - target:   w60
            cachekey: w60-86
          - target:   w60-x64
            cachekey: w60-64
          - target:   w61
            cachekey: w61-86
          - target:   w61-x64
            cachekey: w61-64
          - target:   w62-x64
            cachekey: w62-64
          - target:   w63
            cachekey: w63-86
          - target:   w63-x64
            cachekey: w63-64
          - target:   w100
            cachekey: w10-86
          - target:   w100-x64
            cachekey: w10-64
          - target:   o2k13
            cachekey: o13
          - target:   o2k16
            cachekey: o16
    runs-on: ubuntu-latest
    env:           
      GIT_BRANCH: esr
    needs: build_latest
    if: ${{ !cancelled() && github.repository == 'lizenzfass78851/wsusofflineupdatepacks' && github.event.inputs.build_esr != 'no' }}

    steps:

      - name: Generate wsusofflineupdatepacks
        uses: LizenzFass78851/wsusofflineupdatepacks/.github/actions/wsusoffline@main
        with:
          target: ${{ matrix.target }}
          cachekey: ${{ matrix.cachekey }}
          git_branch: ${{ env.GIT_BRANCH }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          compare_file0: ${{ env.COMPARE_FILE0 }}
          compare_file1: ${{ env.COMPARE_FILE1 }}
          repository: ${{ github.repository }}
